.menu{
    background-color:rgb(144, 119, 142);
    font-family: 'Montserrat', sans-serif;
    color: rgb(10, 5, 35);
    font-size: 60px;
    margin-bottom: 10px;

}
.filmes{
    background-color: rgb(228, 228, 228);
}
.welcome{
    margin-top: 20%;
}

h1{
    font-family: 'Poiret One', cursive;
}

.modal-title{
    font-family: 'Poiret One', cursive;
    color: rgb(10, 5, 35);
}
.subtitle{
    font-family: 'Montserrat', sans-serif;
    color: rgb(10, 5, 35);
}
.modal-text{

}
p{
    font-style: italic;
}


.footer{
    background-color: rgb(211, 211, 211);
    font-size: 12px;
    font-family: 'Poiret One', cursive;
    color: rgb(10, 5, 35);
    padding-bottom: 2px;
}